header {
  background-color: var(--secondary-color);
  color: var(--white);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  height: 48px;
}

nav button {
  margin-left: 1rem;
}