:root {
  --primary-color: #B22222;
  --secondary-color: #2E1A17;
  --accent-color: #FFC857;
  --highlight-color: #FF6F3C;
  --background-color: #FFF8F0;
  --text-color: #2E1A17;
  --white: #ffffff;

  --border-radius: 8px;
  --font-family: 'Poppins', 'Roboto', sans-serif;
}